$waterColor: #a44497;
$textColor1: white;
$textColor2: black;

.app{
  width: 100%;
  overflow: auto;

  .liquidFillGaugeText, .liquidFillGaugeTextOverlap {
    cursor: default;
    font-family: Helvetica;
    font-weight: bold;
  }

  .liquidFillGaugeText, .liquidFillGaugeTextOverlap, .Circle, .Wave{
    transition: fill 1s;
  }

  .low {
    .liquidFillGaugeText {
      fill: $textColor1;
    }
    .liquidFillGaugeTextOverlap{
      fill: $textColor2;
    }
    .Circle {
      fill: #ff3338;
    }
    .Wave {
      fill: $waterColor;
    }
  }

  .medium {
    .liquidFillGaugeText {
      fill: $textColor1;
    }
    .liquidFillGaugeTextOverlap{
      fill: $textColor2;
    }
    .Circle {
      fill: #fff741;
    }
    .Wave {
      fill: $waterColor;
    }
  }

  .high {
    .liquidFillGaugeText {
      fill: $textColor1;
    }
    .liquidFillGaugeTextOverlap{
      fill: $textColor2;
    }
    .Circle {
      fill: #24ff1f;
    }
    .Wave {
      fill: $waterColor;
    }
  }
  $widgetHeight: 70vh;

  .chart {
    margin: auto;
    padding: 20px 0;
    width: 90%;
    height: $widgetHeight;
  }

  .gauge{
    height: $widgetHeight;
    padding: 10px;
  }
}
