@import "colors";

.app{
  width: 100%;
  overflow: auto;

  .liquidFillGaugeText, .liquidFillGaugeTextOverlap {
    cursor: default;
    font-family: Helvetica;
    font-weight: bold;
  }

  .liquidFillGaugeText, .liquidFillGaugeTextOverlap, .Circle, .Wave{
    transition: fill 1s;
  }

  .low {
    .liquidFillGaugeText {
      fill: $textColor1;
    }
    .liquidFillGaugeTextOverlap{
      fill: $textColor2;
    }
    .Circle {
      fill: $lowColor;
    }
    .Wave {
      fill: $waterColor;
    }
  }

  .medium {
    .liquidFillGaugeText {
      fill: $textColor1;
    }
    .liquidFillGaugeTextOverlap{
      fill: $textColor2;
    }
    .Circle {
      fill: $mediumColor;
    }
    .Wave {
      fill: $waterColor;
    }
  }

  .high {
    .liquidFillGaugeText {
      fill: $textColor1;
    }
    .liquidFillGaugeTextOverlap{
      fill: $textColor2;
    }
    .Circle {
      fill: $highColor;
    }
    .Wave {
      fill: $waterColor;
    }
  }
  $widgetHeight: 70vh;

  .chart {
    margin: auto;
    padding: 20px 0;
    width: 90%;
    height: $widgetHeight;
  }

  .gauge{
    height: $widgetHeight;
    padding: 10px;
  }
}
.mode2 .app .low {
  .liquidFillGaugeText {
    fill: $textColor1Mode2;
  }
  .liquidFillGaugeTextOverlap{
    fill: $textColor2Mode2;
  }
  .Circle {
    fill: $lowColorMode2;
  }
  .Wave {
    fill: $waterColorMode2;
  }
}

.mode2 .app .medium {
  .liquidFillGaugeText {
    fill: $textColor1Mode2;
  }
  .liquidFillGaugeTextOverlap{
    fill: $textColor2Mode2;
  }
  .Circle {
    fill: $mediumColorMode2;
  }
  .Wave {
    fill: $waterColorMode2;
  }
}

.mode2 .app .high {
  .liquidFillGaugeText {
    fill: $textColor1Mode2;
  }
  .liquidFillGaugeTextOverlap {
    fill: $textColor2Mode2;
  }
  .Circle {
    fill: $highColorMode2;
  }
  .Wave {
    fill: $waterColorMode2;
  }
}
