$backgroundColor1: #edf4d9;
$backgroundColor2: #d3edf8;

$backgroundColor1Controls: #33995f;
$backgroundColor2Controls: #18739a;

$playButtonColor: #393eb5;

$waterColor: #f8fffc;
$textColor1: #994d00;
$textColor2: #0059b3;

$highColor: #24ff1f;
$mediumColor: #fff741;
$lowColor: #33995f;

$waterColorMode2: #f8fffc;
$textColor1Mode2: #994d00;
$textColor2Mode2: #2d8659;

$highColorMode2: #24ff1f;
$mediumColorMode2: #fff741;
$lowColorMode2: #18739a;

$frequencyColor: #5973c8;
