$backgroundColor1: #edf4d9;
$backgroundColor2: #9debf7;

$backgroundColor1Controls: darken($backgroundColor2, 50);
$backgroundColor2Controls: darken($backgroundColor1, 50);

$playButtonColor: #393eb5;

$waterColor: #f8fffc;
$textColor1: white;
$textColor2: #6cacb8;

$highColor: #24ff1f;
$mediumColor: #fff741;
$lowColor: #6cacb8;

$waterColorMode2: #f8fffc;
$textColor1Mode2: white;
$textColor2Mode2: #6cacb8;

$highColorMode2: #24ff1f;
$mediumColorMode2: #fff741;
$lowColorMode2: #e9f0d5;

$frequencyColor: blue;
