$backgroundColor1: #f0b380;
$backgroundColor2: #16b827;

$playButtonColor: #393eb5;

$waterColor: #a44497;
$textColor1: white;
$textColor2: black;

$highColor: #24ff1f;
$mediumColor: #fff741;
$lowColor: #ff3338;
