@import "colors";



$size:30px;
$ratio:1.2;

$transition-time:0.5s;

.play {
  display:block;
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: ($size*$ratio) solid $playButtonColor;
  margin: 0 auto;
  position:relative;
  z-index:1;
  transition: all $transition-time;
  -webkit-transition: all $transition-time;
  -moz-transition: all $transition-time;
  left:($size*0.2);

  &:after {
    content:'';
    opacity:0;
    transition: opacity ($transition-time * 2);
    -webkit-transition: opacity ($transition-time * 2);
    -moz-transition: opacity ($transition-time * 2);
  }

  &:hover, &:focus {
    &:before {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
    }
  }

  &:after {
    content:'';
    opacity:0;
    width:($size*1.4);
    height:($size*1.6);
    background: $playButtonColor;
    position:absolute;
    right: ($size*0.1);
    top: ($size*-0.8);
    border-left:($size*0.45) solid $playButtonColor;
    box-shadow:inset ($size*0.45) 0 0 0 $backgroundColor1Controls;
  }

  &.active {
    border-color:transparent;
    &:after {
      content:'';
      opacity:1;
      width:($size*1.4);
      height:($size*1.6);
      background: $playButtonColor;
      position:absolute;
      right: ($size*0.1);
      top: ($size*-0.8);
      border-left:($size*0.45) solid $playButtonColor;
      box-shadow:inset ($size*0.45) 0 0 0 $backgroundColor1Controls;
      transition: 0.5s;
    }
  }
}
.mode2 .play.active:after {
  box-shadow:inset ($size*0.45) 0 0 0 $backgroundColor2Controls;
}

.mode2 .play:after {
  box-shadow:inset ($size*0.45) 0 0 0 $backgroundColor2Controls;
}
